$grid-nav-width:	200px;
$grid-aside-width:	200px;
$break-mobile:		768px;
$nav-anim-speed:	250ms;

@import 'variables.scss';

body {
	div.body {
		display: grid;
		grid-template-areas: "header header header" "nav main aside" "footer footer footer";
		grid-template-columns: $grid-nav-width auto $grid-aside-width;
		grid-template-rows: auto 1fr auto;
		grid-gap: 0;
		height: 100vh;
		transition: grid-template-columns 1s ease-in-out;
		header {
			grid-area: header;
			.header-container {
				display: flex;
				justify-content: space-between;
				>.menu-toggle {
					margin-left: auto;
					display: none;
					width: 24px;
				}
			}
		}
		nav {
			grid-area: nav;
			overflow-x: hidden;
		}
		main {
			grid-area: main;
			overflow: auto;
		}
		aside {
			grid-area: aside;
			overflow-x: hidden;
		}
		footer {
			grid-area: footer;
		}

		&.no-menu {
			grid-template-rows: 0 1fr auto;
			nav {
				display: none;
			}
		}

		&.no-footer {
			grid-template-rows: auto 1fr 0;
			footer {
				display: none;
			}
		}

		&.no-aside {
			transition: grid-template-columns 1s ease-in-out;
			grid-template-columns: $grid-nav-width auto 0;
		}
	}
}

@media (max-width: $break-mobile) {
	body {
		div.body {
			grid-template-areas: "header" "nav" "aside" "main" "footer";
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto 1fr auto;
			aside {
				grid-row: 2 / span 3;
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;
				transition: height $nav-anim-speed ease-in-out;
				z-index: $main-zindex + 1;
			}
			&.no-aside {
				grid-template-columns: 1fr;
				aside {
					height: 0;
					transition: height $nav-anim-speed ease-in-out;
				}
			}
			footer {
				transition: height $nav-anim-speed ease-in-out;
			}
			&.no-footer {
				grid-template-rows: auto auto auto 1fr 0;
				transition: height $nav-anim-speed ease-in-out;
			}
			nav {
				grid-row: 2 / span 3;
				height: 0;
				display: block;
				overflow-x: hidden;
				overflow-y: auto;
				transition: height $nav-anim-speed ease-in-out;
				z-index: $main-zindex + 2;
				&.open {
					height: 100%;
					transition: height $nav-anim-speed ease-in-out;
				}
			}
			header {
				.header-container {
					>.menu-toggle {
						display: block;
						&.hidden {
							display: none;
						}
					}
				}
			}
		}
	}
}