// Theme config
$navigation-item-color:			transparent;
$navigation-item-color-active:	#b0bec5;
$navigation-item-color-hover:	#90a4ae;

$body-background:				#fefefe;

$hamburger-color:				#b2ebf2;

$header-background:				#1e88e5;
$header-color:					#b2ebf2;
$header-padding:				10px;
$header-shadow:					0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$header-zindex:					300;
$header-font-size:				20px;

$nav-background:				#cfd8dc;
$nav-color:						#006064;
$nav-padding:					0;
$nav-shadow:					none;
$nav-zindex:					100;
$nav-item-bg-anim-speed:		100ms;

$main-background:				transparent;
$main-color:					#827717;
$main-padding:					5px;
$main-shadow:					0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$main-zindex:					200;

$aside-background:				#cfd8dc;
$aside-color:					#006064;
$aside-padding:					5px;
$aside-shadow:					none;
$aside-zindex:					100;

$footer-background:				#1e88e5;
$footer-color:					#80deea;
$footer-padding:				5px;
$footer-shadow:					none;
$footer-zindex:					100;

// Font
$font-base-family:				sans-serif;
$font-base-size:				13px;

// Grid layout overrides
// $grid-nav-width:				200px;
// $grid-aside-width:			200px;
// $break-mobile:				768px;
// $nav-anim-speed:				250ms;
